/* @import "tailwindcss"; */
/* color: https://colorhunt.co/palette/f6f5f5d3e0ea1687a7276678 */

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 245, 245);
  color: rgb(1,1,1);
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

h1, h6 {
  color: rgb(39, 102, 120);
  text-align: center;
  margin: 15px;
}

.footer {
  text-align: center;
  margin: 20px;
}

.todo-wrapper {
  background: rgb(211, 224, 234);
  padding: 20px;
  /* width: fit-content; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow: auto;
  box-shadow: 0px 5px 7px black;
  border-radius: 5px;
}

.todo-input {
  display: flex;
  align-items: end;
  justify-content: center;
  border-bottom: 1px solid rgb(22, 135, 167);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12px;
  margin-left: 12px;
}

.todo-input-item label {
  color: rgb(39, 102, 120);
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.todo-input-item input {
  padding: 10px;
  border: 1px solid;
  width: 250px;
  border-radius: 5px;
  border-color: rgb(22, 135, 167);
}

.todo-input-item input:focus {
  border-color: rgb(22, 135, 167);
  outline: 2px solid rgb(22, 135, 167);
}

input.error {
  border: 1px solid red;
}

.primaryBtn {
  background-color: rgb(22, 135, 167);
  color: rgb(246, 245, 245);
  border: none;
  border-radius: 0px;
  margin-top: 12px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
  border-radius: 5px;
}

.primaryBtn:hover {
  background-color: rgb(39, 102, 120);
}

.secondaryBtn {
  background-color: rgb(246, 245, 245);
  color: rgb(22, 135, 167);
  border: none;
  border-radius: 0px;
  /* margin-top: 25px; */
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.active {
  background-color:rgb(22, 135, 167);
  color: rgb(246, 245, 245);
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list-item {
  background-color: rgb(246, 245, 245);
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 0px 3px 5px rgb(39, 102, 120);
  border-radius: 5px;
}

.todo-list-item-content p {
  max-width: 75%;
  margin: 0;
}

hr {
  max-width: 100%;
}

.btn-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-group {

}

.todo-counter {
  color: rgb(39, 102, 120);
}

.todo-list-item h3 {
  font-size: 25px;
  color: rgb(39, 102, 120);
  font-weight: bold;
  margin: 0;
}

.todo-list-item p {
  font-size: 14px;
  color: rgb(28, 27, 27);
  /* margin-top: 8px; */
}

.icon {
  font-size: 35px;
  cursor: pointer;
}

.icon:hover {
  color:red;
}

.check-icon, .edit-icon {
  font-size: 35px;
  margin-left: 10px;
  cursor: pointer;
}

.check-icon:hover {
  color: rgb(6, 196, 108);
}

.edit-icon:hover {
  color: rgb(235, 153, 20);
}

.edit__wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.edit__wrapper input, .edit__wrapper textarea {
  border: 1px solid lightgray;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
}

.edit__wrapper .primaryBtn {
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  font-size: 16px;
  width: fit-content;
}

.footer {
  color: rgb(39, 102, 120);
}
